<p> Enter Temperature in degrees Farenheit </p>
<input type="number" id="myNumber" value="0">
<button onclick="myFunction()">MAGIC!</button>

<p id="degree"></p>

<script>
function myFunction() {
    var x = document.getElementById("mydegree").value;
    document.getElementById("degree").innerHTML = x;
}
</script>



@app.route('/ftocanswer/<mumnum>')
def ftocanswer(mumnum):
	return render_template('ftocanswer.html' , mumnum=mumnum)

<p> Enter Temperature in degrees Farenheit </p>
<br> <input type="text" name="ftempString"><br>
<input type="submit" value="submit">



<script>
#function myFunction() {
#    var x = document.getElementById("ftempString").value;
#    document.getElementById("ftempString").innerHTML = x;
#     return "In Farenheit: " + ftempString + " In Celsius " + str(ctemp) 
}
</script>


function randomPage()
{
var link = "";
var randInt = Math.floor((Math.random()*3)+1);
switch(randInt) {
case 1:
link = "http://www.google.com/";
break;
case 2:
link = "http://www.yahoo.com/";
break;
case 3:
link = "http://www.bing.com/";
break;
default:
alert("Error in randomPage()");
}
window.location.href = link;
}
</script>
</head>

<body>
<button onclick="randomPage()">Random Webpage</button>
</body>
</html> 



<form action="/randommum">
<input type="submit" value="Random Mum">
</form>
