{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
<table>
<tr>
<td><a href="/welcome/1"> <img src="{{ url_for('static', filename='mum1.png') }}"</a></td>
<td><a href="/welcome/2"> <img src="{{ url_for('static', filename='mum2.png') }}"</a></td>
<td><a href="/welcome/3"> <img src="{{ url_for('static', filename='mum3.png') }}"</a></td>
<td><a href="/welcome/4"> <img src="{{ url_for('static', filename='mum4.png') }}"</a></td>
<td><a href="/welcome/5"> <img src="{{ url_for('static', filename='mum5.png') }}"</a></td>
  
  
</tr>  
  
</table>  

{% endblock %}
