{% extends "games.html" %}

{% block title %}Games{% endblock %}

{% block content %}
  <h1>Games</h1>
<p>Guess Yur Mum's favorite songs!</p>
<br> Can you guess Yur Mum's favorite songs? <br>

<img src="{{ url_for('static', filename='mum' +mumnum+'.png') }}"> 

<form>
  <input type="radio" name="movie" value="Don't stop believin'" > Don't stop believin'
<br>
  <input type="radio" name="movie" value="My girl" >  My girl
  <br>
  <input type="radio" name="movie" value="Ice ice baby"> Ice ice baby
<br>
  <input type="radio" name="movie" value="Smells like teen spirit" > Smells like teen spirit
  <br>
  <input type="radio" name="movie" value="I believe I can fly"> I believe I can fly
<br>
  <input type="radio" name="movie" value="Living on a prayer" > Living on a prayer
  <br>
  <input type="radio" name="movie" value="Don't stop me now"> Don't stop me now
<br>
 <input type="radio" name="movie" value="My heart will go on" > My heart will go on
  <br>
  <input type="radio" name="movie" value="Bohemian Rhapsody"> Bohemian Rhapsody
 <br>
  <input type="radio" name="movie" value="Ain't no mountain high enough"> Ain't no mountain high enough
</form> 
<input type="submit" value= "Did Yur Mum really sing to you as a baby?">




{% endblock %}
