{% extends "main.html" %}

{% block title %}Tools{% endblock %}

{% block content %}
  <h1>Tools</h1>
<p>Here's some tools Yur Mum can help you with</p>

<img src="{{ url_for('static', filename='mum' +mumnum+'.png') }}"> 

<p>
<form action="/ftoc/{{ mumnum }}">
<input type="submit" value="Farenheit to Celsius">
</form>

<form action="/ctof/{{ mumnum }}">
<input type="submit" value= "Celsius to Farenheit">
</form>

<br>
<form action="/mtok/{{ mumnum }}">
<input type="submit" value= "Miles to Kilometers">
</form>


<form action="/ktom/{{ mumnum }}">
<input type="submit" value= "Kilometers to Miles">
</form>


<br>
<form action="/ptok/{{ mumnum }}">
<input type="submit" value= "Pounds to Kilograms">
</form>


<form action="/ktop/{{ mumnum }}">
<input type="submit" value= "Kilograms to Pounds">
</form>

<br>
<form action="/ftom/{{ mumnum }}">
<input type="submit" value= "Feet to Meters">
</form>


<form action="/mtof/{{ mumnum }}">
<input type="submit" value= "Meters to Feet">
</form>
</p>

<p>

<form action="/main/{{ mumnum }}">
<input type="submit" value="Back to Main">
</form>





{% endblock %}
